.footer-list-div > ul > li{
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.footer-list{
    display: flex;
}

.wrapper-footer{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}